body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif
}

.row {
    display: flex;
}

.column {
    flex: 90%;
}

.sectionHeader {
    font-size: 4em;
    font-weight: bold;
    padding-left: 30px;
    margin-bottom: -10px;
    color: blue;
}

#printoutPanel {
    overflow-y: scroll;
    height: 100%;
}